<div class="home-container">
  <h1>StockRx へようこそ</h1>
  
  <div class="home-content">
    <p>在庫管理システムのホーム画面です。</p>
    <p>将来的にはユーザー向けの機能がここに表示されます。</p>
    
    <div class="home-links">
      <%= link_to "管理者ログイン", new_admin_session_path, class: "admin-login-link" %>
    </div>
  </div>
</div> 