<%# Bootstrap 5 次のページリンク %>
<li class="page-item">
  <%= link_to_unless current_page.last?, raw(t('views.pagination.next', default: '次 &rsaquo;')), url, 
                     rel: 'next', 
                     remote: remote, 
                     class: "page-link",
                     title: "次のページへ",
                     data: { bs_toggle: "tooltip", bs_placement: "top" } %>
</li>