<li class="page-item">
  <%= link_to_unless current_page.last?, url, remote: remote, class: 'page-link', 'aria-label': '最後のページ' do %>
    <span class="d-none d-sm-inline me-1">最後</span>
    <i class="fas fa-angle-double-right" aria-hidden="true"></i>
  <% end %>
</li>
