<li class="page-item">
  <%= link_to_unless current_page.last?, url, rel: 'next', remote: remote, class: 'page-link', 'aria-label': '次のページ' do %>
    <span class="d-none d-sm-inline me-1">次へ</span>
    <i class="fas fa-angle-right" aria-hidden="true"></i>
  <% end %>
</li>
