<li class="page-item">
  <%= link_to_unless current_page.first?, url, rel: 'prev', remote: remote, class: 'page-link', 'aria-label': '前のページ' do %>
    <i class="fas fa-angle-left" aria-hidden="true"></i>
    <span class="d-none d-sm-inline ms-1">前へ</span>
  <% end %>
</li>
